
.ps_editor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

.ps_editor_buttons{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 10px;
}

.ps_inout{
  height: 10vh;
  margin: 5px;
  width: 70vh;
  border-radius: 15px;
  resize: none;
  padding: 10px;
  background-color: var(--gutterbackground);
  color: var(--sidenavcolor);
}

.outWindow{
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.inoutTextarea{
  padding: 10px;
  display: flex;
  justify-content: center;
}

.inoutCard{
  border: 4px solid red;
}