.problem{
  display: flex;
  flex-direction: row;
  height: calc(100vh - 2.4vh);
}
.problem_screen{
width: 100%;
}

.url_input{
  width: 100%;
}

pre{
  color:white
}

.codeforces_data{
  height: 90vh;
  overflow:auto;
}

iframe {
  width: auto;
  height: 93vh;
  border: none;
  
}