.snippet-screen{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    z-index: 2;
}

.snippet-form{
    width: 70vw;
}

.upper-input{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.snippet-description{
    width: 50%;
}

.snippet-tabtrigger{
    width: 50%;
}

.snippet-submit{
    width: 100%;
}